html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container {
    height: 97vh;
    background-color: rgba(0, 128, 128, 0.418);
    background-image: linear-gradient(rgba(197, 235, 197, 0.171),rgba(145, 145, 219, 0.349)), url("https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    overflow:hidden;
    
    color: whitesmoke;

}

h1{
    margin-bottom: 10px;
    letter-spacing: 2px;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

.main-text{
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-buttons{
    
    text-align: center;
    animation-name: moveInRight;
    animation-duration: 2s;
}

.buttons{
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
