html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



body{
    
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 100px;
    color: black;
    text-shadow: 1px 1px black;
    letter-spacing: 5px;
}

.image-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    box-shadow: 2.5px 2.5px rgb(39, 39, 39);
    margin-bottom: 20px;
    

}

.moving{
    color: yellow;
}

img{
    border: 1px solid rgba(0, 0, 0, 0.521);
    cursor: move;
    width: 100%;
    height: 100%;
}

.btn-div{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.puzzle-container{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.grid{
    padding: 0;
    margin: 0;
    background-color: cornsilk;
    
}

.random-img{
    display: none;
    background-color: cornsilk;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.game-text{
    font-size: 30px;
    color: black;
    display: none;
}

button{
    border-radius: 20px;
    padding: 10px;
    /* background-color: #62C3D9; */
    box-shadow: 2px 2px 2px black;
    background-color: white;
    font-size: 20px;
}