<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/puzzle.css">
    </head>
    <body>
        <h1>Puzzle!</h1>
        <!-- {{paths_to_image}}
        
        {% for path_to_image in paths_to_image %}
         {{path_to_image}} <br> -->
        <!-- <img src="{{path_to_image}}"> -->
        <!-- {% endfor %}
        <br> -->
        <!-- <br>
        {% for row_index in range(number_of_rows) %}
        <br>
            {% for col_index in range(number_of_cols) %}
            {% set image_index = row_index * number_of_cols + col_index %}
            <img src="{{paths_to_image[image_index]}}">

            {% endfor %}
        {% endfor %} -->
        <!-- <hr> --> 
        <div>
            <button class="btn">Shuffle</button>

        </div>
        <div class="puzzle-container">
            
            <div class="image-container"  >

            </div>

            <div class="random-img" >

            </div>

        </div>

        <!-- ondragover="allowDrop(event)" ondrop="drop(event)" -->

        

        <script>
            var paths_to_image = JSON.parse('{{paths_to_image_as_json|safe}}')
            console.log(paths_to_image);
            var number_of_cols = {{number_of_cols}}
            console.log(number_of_cols);
            let imageContainer = document.querySelector(".image-container")
            

            const listOfImages = []

            // loop through path to images array and create new image array
            for (let index = 0; index < paths_to_image.length; index++){
                
                path_to_image = paths_to_image[index]
                imageId = index
                
                
                createdImage = document.createElement("img")
                createdImage.setAttribute("src", path_to_image)
                createdImage.setAttribute("draggable", true)
                createdImage.setAttribute("id", imageId)
                // imageContainer.appendChild(createdImage)
                listOfImages.push(createdImage)
            }

            // add images to div
            
            listOfImages.forEach(image =>{
                imageContainer.appendChild(image)
            })

            let shuffleBtn = document.querySelector(".btn")

            shuffleBtn.addEventListener("click", shuffleImage)

            // select images, returns node array

            let images = document.querySelectorAll(".image-container > img")

            // shuffle images

            let randomImgDiv = document.querySelector(".random-img")

            function shuffleImage(){
                
                // remove correct image
                imageContainer.innerHTML = " "
                // shuffle array
                const shuffled = listOfImages.sort(() => Math.random() - 0.5)
                shuffled.forEach(image=>{
                    createdDiv = document.createElement("div")
                    createdDiv.setAttribute("class", "grid")
                    imageContainer.appendChild(createdDiv)
                    createdDiv.appendChild(image)
                    createdDiv.addEventListener("dragover", allowDrop)
                    createdDiv.addEventListener("drop", drop)
                })
                // remove random box
                let rand = Math.floor(Math.random() * 19)
                
                let randomImage = shuffled[rand]
                
                randomImgDiv.appendChild(randomImage)
                randomImgDiv.style.display = "inline-block"
                randomImgDiv.addEventListener("dragover", allowDrop)
                randomImgDiv.addEventListener("drop", drop)
                console.log(listOfImages)
                console.log(shuffled)
            }

            function checkIfWon(){
                
                console.log(imageContainer.children)
                let arrayOfDivs = imageContainer.children
                for (let index = 0; index<arrayOfDivs.length; index++){
                    console.log(arrayOfDivs[index])
                    let div = arrayOfDivs[index]
                   
                }
            }


            
            
            // add event listener to each image
            images.forEach(image => {
                
                image.addEventListener("dragstart", dragstart)
            });

            
            // dragging functions

            function dragstart(event){
                console.log("dragging")
                event.dataTransfer.setData("text", event.target.id)
                event.currentTarget.classList.add("moving")
            }

            function allowDrop(event) {
                
                if (event.target.classList == "grid" || event.target.classList == "random-img"){
                    event.preventDefault();
                    
                    
                }
                else{
                    console.log("dont drop me here")
                }

            }

            function drop(event) {
               
                
                
                event.preventDefault();
                const id = event.dataTransfer.getData("text");
                const movingImg = document.getElementById(id);
                const dropZone = event.target;
                movingImg.classList.remove("moving");
                dropZone.appendChild(movingImg);
            }
                

                
                // let data = event.dataTransfer.getData("text");
                // event.currentTarget.classList.remove("moving")
                // event.target.appendChild(document.getElementById(data));
                
                
                
                
                
                
        </script>

    </body>
</html>