<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/puzzle.css">
    </head>
    <body>
        
        
        <div class="btn-div">
            <button class="btn">Shuffle</button>

        </div>
        <div class="puzzle-container">
            
            <div class="image-container"  >

            </div>

            <div class="random-img" >

            </div>

        </div>
        <div>
            <span class="game-text">Game Won!</span>
        </div>
        <div>
            <button><a href="/edit">Back</a></button>
        </div>


        

        <script>
            var paths_to_image = JSON.parse('{{paths_to_image_as_json|safe}}')
            // console.log(paths_to_image);
            var number_of_cols = {{number_of_cols}}
            
            let imageContainer = document.querySelector(".image-container")
            let gameText = document.querySelector(".game-text")
            const listOfImages = []
            let shuffleBtn = document.querySelector(".btn")
            shuffleBtn.addEventListener("click", shuffleImage)

            let movingMobileImage;
            let movingX;
            let movingY;
            let finishX
            let finishY

            // loop through path to images array and create new image array
            for (let index = 0; index < paths_to_image.length; index++){
                path_to_image = paths_to_image[index]
                imageId = index
                createdImage = document.createElement("img")
                createdImage.setAttribute("src", path_to_image+"?cache="+Math.floor(1000*Math.random()))
                createdImage.setAttribute("draggable", true)
                createdImage.addEventListener('touchmove', mobileTouchStart)
                createdImage.addEventListener('touchend', mobileTouchEnd)
                createdImage.setAttribute("id", imageId)
                listOfImages.push(createdImage)
            }

            // add images to div
            listOfImages.forEach(image =>{
                imageContainer.appendChild(image)
            })

            let images = document.querySelectorAll(".image-container > img")
            let randomImgDiv = document.querySelector(".random-img")

            function shuffleImage(){
                
                // remove correct image
                imageContainer.innerHTML = " "

                
                // shuffle array
                const shuffled = listOfImages.sort(() => Math.random() - 0.5)
                shuffled.forEach(image=>{
                    createdDiv = document.createElement("div")
                    createdDiv.setAttribute("class", "grid")
                    imageContainer.appendChild(createdDiv)
                    createdDiv.appendChild(image)
                    createdDiv.addEventListener("dragover", allowDrop)
                    createdDiv.addEventListener("drop", drop)
                })
                // remove random box
                let rand = Math.floor(Math.random() * 19)
                let randomImage = shuffled[rand]
                randomImgDiv.appendChild(randomImage)
                randomImgDiv.style.display = "block"
                randomImgDiv.addEventListener("dragover", allowDrop)
                randomImgDiv.addEventListener("drop", drop)
                randomImgDiv.addEventListener("touchend", mobileTouchEnd)
                const sizes = setRandomDivSize()
                let h = `${sizes[0]}px`
                let w = `${sizes[1]}px`
                randomImgDiv.style.height =  h
                randomImgDiv.style.width = w
                gameText.style.display = "none"
                gameWon = false;
            }

            function setRandomDivSize(){
                
                console.log(images[0].height, images[0].width)
                let height = images[0].height;
                let width = images[0].width
                const sizes = []
                sizes.push(height);
                sizes.push(width)
                // console.log(sizes)
                return sizes
            }

            function checkIfWon(){
                const idOrder = []
                const correctOrder = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19"]
                let gameWon;
                // console.log(imageContainer.children)
                let arrayOfDivs = imageContainer.children
                for (let index = 0; index<arrayOfDivs.length; index++){
                    
                    let div = arrayOfDivs[index]
                    // console.log(div)
                    if(!div.firstChild){
                        // console.log("no child image element - game not complete by user")
                        return
                    }
                    else{
                        let image = div.firstChild
                        idOrder.push(image.id)
                    }

                
                }    
                // console.log(idOrder)
                // console.log(correctOrder)

                for(let index = 0; index< correctOrder.length; index ++){
                            
                            if (correctOrder[index] !== idOrder[index]){
                                return
                            }
                            
                        } 
                        gameWon = true
                        gameText.style.display = "block"

        
            }
                    


            
            
            // add event listener to each image
            images.forEach(image => {
                
                image.addEventListener("dragstart", dragstart)
            });

            
            // dragging functions

            function dragstart(event){
                
                event.dataTransfer.setData("text", event.target.id)
                event.currentTarget.classList.add("moving")
            }

            function allowDrop(event) {
                
                if (event.target.classList == "grid" || event.target.classList == "random-img"){
                    event.preventDefault();
                    
                    
                }
                

            }

            function drop(event) {
                event.preventDefault();
                const id = event.dataTransfer.getData("text");
                const movingImg = document.getElementById(id);
                const dropZone = event.target;
                movingImg.classList.remove("moving");
                dropZone.appendChild(movingImg);
                checkIfWon()
            }

            function mobileTouchStart(event){
                
                let touchStart = event.targetTouches[0].target
                
                movingMobileImage = touchStart
                // console.log(movingMobileImage)
                movingX = event.touches[0].clientX
                movingY = event.touches[0].clientY
                // console.log("mouse is", movingX, movingY)
            }

            function mobileTouchEnd(event){
                console.log("touch end")
                
                let newTarget = document.elementFromPoint(movingX, movingY)
                // console.log(newTarget)

                if (newTarget.classList == "grid" || newTarget.classList == "random-img"){
                    
                    newTarget.appendChild(movingMobileImage)
                }
                

                
                checkIfWon()
                
            }


           
                

                
                
                
                
                
                
                
                
        </script>
        

    </body>
</html>