<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        {{ dropzone.load_css() }}
        <style>
            .dropzone {
                border: 2px dashed #142740;
                margin: 10%;
                width: 80%;
                min-height: 400px;
            }
        </style>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/upload.css">
    </head>
    <body>
      <div class="main-container">
        <div class="upload-container">
          <div class="title-side">
              <h1>Upload image</h1>
          </div>
  
          <div class="upload-side"> 
            {{ dropzone.create(action='upload') }}
            {{ dropzone.load_js() }}
            {{ dropzone.config() }}
          </div>
        </div>
        <div class="btn-div">
          <button id="next-button"><a id="link"href="/edit">Next</a></button>
        </div>  

      </div>

      
        <script>
          let uploaded_a_file = {{uploaded_a_file}}
          console.log(uploaded_a_file)

          let button = document.getElementById("next-button")
          console.log(button)
          let link = document.getElementById("link")
          console.log(link)

          let dropzone = document.getElementById("myDropzone")
          console.log(dropzone)

          

          if (uploaded_a_file == false){
            console.log("no file uploaded")
            
            link.href = "#"
          }
          else{
            button.disabled = false 
          }

          button.addEventListener("mouseenter", ()=>{
            console.log("mouse over!")
            console.log(dropzone.children.length)
            if (dropzone.children.length == 2){
              link.href ="/edit"
            }
          })

        </script>
    </body>
</html>