html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    margin-bottom: 10px;
    color: black;
    
    text-align: center;
    letter-spacing: 2px;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

.title{
    font-size: 100px;
}

/* .main-text{
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */



#myCanvas{
    margin: 0 auto;
}
.cam-canvas{
    margin: 0 auto;
    width: 100% 
}

.main-buttons{
    
    text-align: center;
    animation-name: moveInRight;
    animation-duration: 2s;
}

.buttons{
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-width:768px){
   
}

@media (max-width:480px){
    a, a:hover, a:focus, a:active {
        
        font-size: 20px;
    }
    .title{
        font-size: 70px;
    }
}