*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif

}

body{
    height: 100vh;
    
}

/* .main-container{
    /* position: relative; */
/* } */ 

.upload-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin:  auto;
    /* justify-items: center; */
    height: 80vh;
   
}

.title-side{
    font-size: 50px;
}

.btn-div{
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}

button{
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
}

@media (max-width:768px){
    .upload-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    h1{
        text-align: center;
    }
    .dropzone{
        min-height: auto;
    }
}

@media (max-width:480px){
    h1{
        font-size: 70px;
    }
    a, a:hover, a:focus, a:active {
        
        font-size: 20px;
    }
}